* {
    box-sizing: border-box;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    

}
#title_back {
    position: fixed;
    opacity: 0.3;
    height: 100vh;
}
#img_holder{ 
position: absolute;
width:100%;
height: 100%;
align-self: center;
padding-left:25vw;
padding-right:25vw;
padding-top: 30vh;
}
#title_img { 
animation: animate 2s infinite;
width: 100%;
}

#honeycomb { 
animation: spin 5s infinite;
animation-timing-function: linear;
animation-delay: 0s;
animation-iteration-count: infinite;
}

#page2_bg{
    background-color: #ffeaba;
    width: 100vw;
    height: 100vh;     
}

#temp { 
    position: absolute;
    top:20vh;
    text-align: center;
    font-size: 2em;
    width: 100%;
    height:10%;
    color: black;
}

#status {
mix-blend-mode: soft-light;
position: absolute;
top:28.5vh;
display: block;
width:20vw;
margin: 15vw;
}

#desc { 
position: absolute;
top: 65vh;
width: 90vw;
margin: 5vw;
}

#page2_title, #page2_sub {
position: absolute;
margin-left: 5vw;
}

#page2_sub { 
top: 5vh;
}

#sim { 
position: absolute;
width: 100%;
top: 15vh;
}





































@keyframes spin {
    0% { 
    transform: rotate(0deg);
    }
    100% { 
    transform: rotate(360deg);
    }
}

@keyframes animate {
    0% { 
        transform: scale(0.9);
        transform: rotate(0deg);
    }    
    10%  {
      transform: rotate(45deg);  
    }
    
    20% { 
     transform: rotate(-45deg);
    }
    
    40% { 
     transform: rotate(-45deg);
    }
    50 % { 
        
    }
    100% { 
     transform: rotate(360deg);
    }
    
}

